## QSTN 1

In [7]:
name=("Hey Guys")
print(name)

Hey Guys

In [5]:
type(name)

str

In [8]:
name="Sachin Tendulkar"

In [11]:
name[:5]

'Sachi'

In [12]:
name[-1]

'r'

In [13]:
# Arithmetic Operators

In [15]:
1684741+98845

1783586

In [16]:
18**2

324

In [21]:
33//78

0

### IF

In [23]:
name="Roshan"
if type(name)==str:
    print("Made It")

Made It

In [28]:
age = 100
if age>18 and age<60:
    print("Accepted Your Request")
elif age==100:
        print("Final Wish Please")
else:
    print("Just Come Back Another Time")

Final Wish Please

### INPUT

In [29]:
input("Enter Your Nmae : ")

Enter Your Nmae : Amal Roshan

'Amal Roshan'

In [32]:
name=input("Enter Your Name : ")
age=int(input("How Old Are You : "))
mail_id=input("Enter Your Email : ")
if age>=18 and age<60:
    print("You Can Enter")
elif age<5:
    print("You Can Also Enter")
else:
    print("Just Go To Somewhere Else")

Enter Your Name : Amal Roshan
How Old Are You : 52
Enter Your Email : saiubdfj@gamil.com
You Can Enter

In [35]:
num=int(input("Enter A Number : "))
ld=num%10
if num%3==0:
    print("Can Be Divided By 3")
else:
    print("Can't Do It")

Enter A Number : 62
Can't Do It

### NESTED IF

In [52]:
age=int(input("Enter Your Age : "))
if age>=18:
    if age<=60:
        print("You Are A Youngster")
    else:
        print("You Are Aged Old Man")
else:
    print("You Are Almost Dead")

Enter Your Age : 58
You Are A Youngster

In [3]:
number=18
name=894796
if number==18:
    if type(name)==str:
        print("Hello Guys, Good Morning")
    else:
        print("Who are You?")
else:
    print("Get Out Of Here")

Who are You?

### FOR

In [4]:
myList=["Banana","Cherry","Apple","Chikku","Strawberry","Pineapple","Papaya","Orange"]

In [7]:
for fruits in myList:
    print(fruits)

Banana
Cherry
Apple
Chikku
Strawberry
Pineapple
Papaya
Orange

In [13]:
myList.append("Jackfuit")

In [14]:
myList

['Banana',
 'Cherry',
 'Apple',
 'Chikku',
 'Strawberry',
 'Pineapple',
 'Papaya',
 'Orange',
 'Jackfuit',
 'Jackfuit']

In [30]:
players=["Messi","Pele","Maradona","Suarez","Neymar",10,11,9,21,7]

In [36]:
name=[]
num=[]
for i in players:
    if type(i)==str:
        name.append(i)
    elif type(i)==int:
        num.append(i)

In [37]:
name

['Messi', 'Pele', 'Maradona', 'Suarez', 'Neymar']

In [38]:
num

[10, 11, 9, 21, 7]

In [39]:
countries=["India","Brazil","Canada","Korea","Russia",1000000000,150000,410254,698745,458750]

In [41]:
name=[]
population=[]
for n in countries:
    if type(n)==str:
        name.append(n)
    elif type(n)==int:
        population.append(n)

In [42]:
name

['India', 'Brazil', 'Canada', 'Korea', 'Russia']

In [43]:
population

[1000000000, 150000, 410254, 698745, 458750]

In [44]:
numbers=[15,18,20,50,45,1,2,6,78,68,10,12]

In [52]:
greater=[]
lower=[]
for i in numbers:
    if i>18:
        greater.append(i)
    elif i<18:
        lower.append(i)

In [53]:
greater

[20, 50, 45, 78, 68]

In [54]:
lower

[15, 1, 2, 6, 10, 12]

In [55]:
numbers=[15,14,78,66,10,55,75,14,99]

In [67]:
odd=[]
even=[]
for i in numbers:
    if i%2!=0:
        odd.append(i)
    elif i%2==0:
        even.append(i)

In [68]:
odd

[15, 55, 75, 99]

In [69]:
even

[14, 78, 66, 10, 14]

### BREAK

In [75]:
myList=[1,78,45,47,"Carlson","Messi","Neymar","CR7"]

In [80]:
for i in myList:
    if i=="Neymar":
        break
    print(i)

1
78
45
47
Carlson
Messi

In [81]:
for s in myList:
    print(s)
else:
    print("You are Out of Data")

1
78
45
47
Carlson
Messi
Neymar
CR7
You are Out of Data

### CONTINUE

In [82]:
myList=[1,78,45,47,"Carlson","Messi","Neymar","CR7"]

In [83]:
for n in myList:
    if n=="Carlson":
        continue
    print(n)

1
78
45
47
Messi
Neymar
CR7

In [84]:
numbers=[20,88,54,1,2,7,65,20,24,48]

In [86]:
for k in numbers:
    if k<21:
        continue
    print(k)

88
54
65
24
48

### RANGE

In [88]:
list(range(0,20+1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [89]:
list(range(100,150,5))

[100, 105, 110, 115, 120, 125, 130, 135, 140, 145]

In [92]:
for i in range(100,200,5):
    if i>=180:
        continue
    print(i)

100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175

In [93]:
myList

[1, 78, 45, 47, 'Carlson', 'Messi', 'Neymar', 'CR7']

In [94]:
for i in range(len(myList)):
    print(i)

0
1
2
3
4
5
6
7

In [105]:
name="Malala Yusufzai"
name1=[]
name2=[]
for i in range(len(name)):
    if name[i]=="a":
        name1.append(i)
        name2.append(name[i])
print(name1,name2,sep='\n')

[1, 3, 5, 13]
['a', 'a', 'a', 'a']

In [111]:
name="amal roshan"
name1=[]
name2=[]
for y in range(len(name)):
    if name[y]=="a":
        name1.append(y)
        name2.append(name[y])
print(name1,name2,sep='\n')

[0, 2, 9]
['a', 'a', 'a']

In [113]:
name="Pneumonoultramicroscopicsilicovolcanocomiosis"
integors=[]
letters=[]
for y in range(len(name)):
    if name[y]=="o":
        integors.append(y)
        letters.append(name[y])
print("Integors Position :",integors)
print("Letter of Name : ",letters)

Integors Position : [5, 7, 17, 20, 29, 31, 36, 38, 41]
Letter of Name :  ['o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o']

## QSTN 2

In [2]:
name=input("Enter Your Name : ")
for y in name:
    if y=="e":
        continue
    elif y=="s":
        continue
    print(y)

Enter Your Name : sebastian
b
a
t
i
a
n

### QSTN 3

In [24]:
n=int(input("Enter a number: "))
sum1 = 0
for i in range(n+1):
    sum1=sum1+i
print("The sum of first n natural numbers is : ",sum1)

Enter a number: 10
The sum of first n natural numbers is :  55

### QSTN 4

In [3]:
number= int(input('Enter s number'))
out=0
for i in range(number):
    if i%5==0 or i%7==0:
        out=out+i
print(out)

Enter s number20
51

In [27]:
5+7+15+14+10

51